<h1>Proof</h1>

<pre>
Rails.version: <%= Rails.version %>
ENV["RAILS_RELATIVE_URL_ROOT"]: <%= ENV["RAILS_RELATIVE_URL_ROOT"].inspect %>
RelativeRoot4::Application.config.relative_url_root: <%= RelativeRoot4::Application.config.relative_url_root.inspect %>
RelativeRoot4::Application.config.action_controller.relative_url_root: <%= RelativeRoot4::Application.config.action_controller.relative_url_root.inspect %>
test_index_url: <%= test_index_url.inspect %>
test_index_path: <%= test_index_path.inspect %>
</pre>
